<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>495360356804-ltcde1ppkmjfsidn3qduies9cnumalpn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.495360356804-ltcde1ppkmjfsidn3qduies9cnumalpn</string>
	<key>API_KEY</key>
	<string>AIzaSyDWDF2o8HHTY1wYGeeWDiOrnM7DH1BCeBI</string>
	<key>GCM_SENDER_ID</key>
	<string>495360356804</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Le-Mood</string>
	<key>PROJECT_ID</key>
	<string>le-mood-50649</string>
	<key>STORAGE_BUCKET</key>
	<string>le-mood-50649.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:495360356804:ios:fcf0b8b0f3a981b80c7491</string>
</dict>
</plist>